
body {
    color: #333;
    line-height: 1.8;
    letter-spacing: 0.08rem;
    font-family: open sans, helvetica neue, helvetica, arial, sans-serif
}

ul,li,ol{
    list-style: none;
}
.item-date{
    margin-top:5px;
    color: #999999;
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
}
.note-list{
    margin-top: 15px;
}
p {
    margin-top: 0;
    margin-bottom: 0rem;
}
